.wapper {
    display: flex;
    align-items: center;
    padding: 9px 16px;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.info {
    flex: 1;
    padding-left: 20px;
}

.name {
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}

.username {
    font-size: 14px;
    line-height: 20px;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 400;
}

.checked {
    width: 14px;
    height: 14px;
    margin-left: 4px;
    color: rgb(32, 213, 236);
}